{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}
<h1></h1>
<div>
    <ul class="rich">
        <li id="bold" value="true" onclick="document.execCommand('bold')"><b>B</b></li>
        <li id="italic"><i>I</i></li>
        <li id="insertOrderedList">1.</li>
        <li id="insertUnorderedList">·</li>
        <li id="fontSize" value="7">big</li>
        <li id="fontSize" value="1">small</li>
        <li id="underLine"><u>U</u></li>
        <li id="strikeThrough"><strike>ST</strike></li>
    </ul>
</div>
<div>
    <div contentEditable="true" class="textDiv" data-text="1. 오늘 하루 좋았던 것"></div>
    <div contentEditable="true" class="textDiv" data-text="2. 오늘 하루 안 좋았던 것"></div>
    <div contentEditable="true" class="textDiv" data-text="3. 내일 할 것"></div>
</div>
    <form method="POST" class="post-form">{% csrf_token %}
        {% autoescape off %}
        {{ form.as_p }}
        {% endautoescape %}
        <button type="submit" class="save btn btn-default" onclick="autoSave.publish()">Save</button>
    </form>
{% endblock %}
{% block script %}
<script src="{% static 'js/post_new.js' %}"></script>
{% endblock script %}