{% extends 'blog/base.html' %}


{% block content %}
<div>
    <h2>{{ post.created_date }}</h2>
    <p>{{ post.text1|linebreaksbr }}</p>
    <p>{{ post.text2|linebreaksbr }}</p>
    <p>{{ post.text3|linebreaksbr }}</p>
</div>
{% block list %}
{% endblock %}
<hr>

<hr>
{% for comment in post.comments.all %}
    <div class="comment">
        <div class="date">{{ comment.created_date }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
{% empty %}
    <p>아직 코멘트가 없네요:(</p>
{% endfor %}
{% endblock %}
{% block script %}

{% endblock %}

