{% extends 'blog/base.html' %}


{% block content %}
<div>
    <h1>{{ post.created_date }}</h1>
    <h3>1. 오늘 가장 안 좋았던 일</h3>
    <p>{{ post.text1|linebreaksbr }}</p>
    <h3>2. 오늘 가장 좋았던 일</h3>
    <p>{{ post.text2|linebreaksbr }}</p>
    <h3>3. 내일 할 일</h3>
    <p>{{ post.text3|linebreaksbr }}</p>
</div>
{% block list %}
{% endblock %}
<hr>
<a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">+</a>
{% for comment in post.comments.all %}
    <div class="comment">
        <div class="date">{{ comment.created_date }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
{% endfor %}
{% endblock %}
{% block script %}

{% endblock %}

