{% extends 'blog/base.html' %} {% load staticfiles %} {% block content %}
<h1></h1>
<div class="rich">
    <input class="rich-btn" id="bold" onclick="rich(id)" type="button" value="bold">
    <input class="rich-btn" id="italic" onclick="rich(id)" type="button" value="italic">
    <input class="rich-btn" id="1.4em" onclick="rich(id)" type="button" value="big">
    <input class="rich-btn" id="0.8em" onclick="rich(id)" type="button" value="small">
    </ul>
</div>
<div>
    <div contentEditable="true" class="textDiv" data-text="1. 오늘 하루 좋았던 것"></div>
    <div contentEditable="true" class="textDiv" data-text="2. 오늘 하루 안 좋았던 것"></div>
    <div contentEditable="true" class="textDiv" data-text="3. 내일 할 것"></div>
</div>
<form method="POST" class="post-form">{% csrf_token %} {% autoescape off %} {{ form.as_p }} {% endautoescape %}
    <button type="submit" class="save btn btn-default" onclick="autoSave.publish()">Save</button>
</form>
{% endblock %} {% block script %}
<script src="{% static 'js/post_new.js' %}"></script>
<script src="{% static 'js/rich_text.js' %}"></script> {% endblock script %}