
/* form p {
    display: none;
} */

*{
    font-family: 'Nanum Square';
}

.remove{
    float: right;
}

.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin-top: 15px;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 2% 4%;
}
.card-tag {
    text-align: right;
}
.card-tag .btn {
    margin-left: 10px;
}
.card h1 {
    text-align: center;
    color: #555
}
.card h3 {
    color: #555
}

.comment {
    background: rgb(243, 243, 243);
}

.col-sm-6 {
    margin: 100px auto;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
    text-align: center;
}

textarea {
    border-radius: 4px;
    display: block;
    resize: vertical;
    width: 100%;
}


#autosave {
    display: none;
}

#cssBtn {
    cursor : pointer;
    font-Size :1.5em;
    color : rgb(86, 187, 255);
}
.rich{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align:center;
}
.rich li {
    display: inline-block;
    width: 3em;
    height: 2.5em;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    color: #444;
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.55, 0.06, 0.68, 0.19)
}
.rich li:active{
    background-color: #444;
    color: #fff;
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.55, 0.06, 0.68, 0.19)
}
[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}
.textDiv{
    height: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1em;
    margin: 1em 0;
    transition: all 0.2s;
    transition-timing-function: cubic-bezier(0.55, 0.06, 0.68, 0.19)
}
.textDiv:focus{
    background: #ffffff;
    color: #111;
    font-size: 1em;
    transition: all 0.2s;
    transition-timing-function: cubic-bezier(0.55, 0.06, 0.68, 0.19)
}