*{
    font-family: 'Nanum Square';
    word-break: normal;
    outline: none;
    color: rgb(163, 163, 163);
}
body{
    background: #000;
}
a, .icon span {
    color: rgb(255, 224, 47);
}
.navbar {
    background: #111;
}

form p, form label {
    display: none;
}

p{
    margin: 15px 0;
}

.navbar-header {
    display: block;
    width: 50%;
    text-align: center;
    font-size: 1.1em;
    float: none;
}

.icon {
    position: absolute;
    display: inline-block;
    right: 20px;
    top: 15px;
}
.icon span {
    font-size: 1.5em;
}

.remove{
    float: right;
}

.card {
    margin-top: 15px;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 2% 4%;
}
.card-tag {
    text-align: right;
}
.card-tag .btn {
    margin-left: 10px;
}
h1 {
    text-align: center;
}

.comment {
    background: #111;
}

.col-sm-6 {
    margin: 100px auto;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #111;
    text-align: center;
}

textarea {
    border-radius: 4px;
    display: block;
    resize: vertical;
    width: 100%;
    background: #000;
}

.save{
    width: 20%;
    margin: 30px auto;
    display: block;
}

.btn{
    background: #222;
    border: 1px solid #111;
}


#autosave {
    display: none;
}

#cssBtn {
    cursor : pointer;
    font-Size :1.5em;
    color: rgb(255, 224, 47);
}
.rich{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align:center;
}
.rich input {
    display: inline-block;
    border: 0;
    text-align: center;
    width: 23%;
    height: 2.5em;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    color: #444;
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.55, 0.06, 0.68, 0.19)
}
.rich input:active{
    background-color: #444;
    color: #fff;
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.55, 0.06, 0.68, 0.19)
}
[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}
.textDiv{
    height: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1em;
    margin: 1em 0;
    transition: all 0.2s;
    transition-timing-function: cubic-bezier(0.55, 0.06, 0.68, 0.19)
}
.textDiv:focus{
    font-size: 1em;
    transition: all 0.2s;
    transition-timing-function: cubic-bezier(0.55, 0.06, 0.68, 0.19)
}